<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2018 - 2024  Kynetics, Inc.
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kynetics.libspidevapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_spi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_spi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kynetics.libspidevapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"/>
    </application>
</manifest>